<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="row">
          <div class="col-md-12">
            <input class="form-control input-sm" type="text" placeholder="Search" aria-label="Search">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <p><b>Size</b></p>
            <label class="customcheck">Small
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="customcheck">Medium
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="customcheck">Large
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="customcheck">Extra Large
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <p><b>Price</b></p>
            <label class="customcheck">$0 - $9.99
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="customcheck">$10 - $19.99
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
            <label class="customcheck">$20+
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12">
              <p><b>Colors</b></p>
              <label class="customcheck">Red
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Blue
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Green
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Yellow
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">Black
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
              <label class="customcheck">White
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>