<nav class="navbar navbar-icon-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/">Lillee & Me</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">
          About
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">
          Designs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">
          Contact Us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/custom-form">
          Order
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin">
          Admin
        </a>
      </li>
    </ul>
    <input class="form-control input-sm" type="text" placeholder="Search" aria-label="Search" style="width: 315px;">
    <button class="btn btn-outline-primary" routerLink="/products">Search</button>
  </div>
</nav>