<div class="container">
    <div class="row" style="height: 100px">
        <div class="col-md-3">
            <h1 (click)="pageChange('about-us')" class="about" [style.text-decoration]="aboutUsSelected">About Us</h1>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <h1 (click)="pageChange('about-our-work')" class="about" [style.text-decoration]="aboutOurWorkSelected">About Our Work</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p *ngIf="page=='about-us'"> 
                {{ aboutUs }}
            </p>
            <p *ngIf="page=='about-our-work'">
                {{ aboutOurWork }}
            </p>
        </div>
    </div>
</div>
