<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="font-family: 'Brush Script MT', 'Brush Script Std', cursive;">Order a Custom Design</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <form>
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="fName"> <br>
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lName"> <br>
          <label for="email">Email</label>
          <input type="email" class=form-control id="email" name="email" [(ngModel)]="email"> <br>
          <p>Design Description<p>
          <textarea name="message" id="message" cols="40" rows="4" [(ngModel)]="message"></textarea> <br><br>
          <button type="button" class="button btn-primary" (click)="uploadPhoto()">Add a Picture</button> <br><br>
          <button type="submit" class="button btn-primary" (click)="sendMessage()">Submit Order</button>
        </form>
    </div>
  </div>
</div>
